:root {
    --container-width: 1260px;
    --container-padding: 15px;
    --big-offset: 180px;
    --small-offset: 120px;

     /* colors */
     --color-black: #000;
     --color-white: #fff;
     --color-main: #424551;
     --color-hover: #F75E05;
     --color-ebonyClay: #1E212C;
     --color-gray: #787A80;
     --color-redOrange: #FF3F3A;
     --color-btn: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
     --color-firefly: #0F2137;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: var(--color-main);
    background-color: var(--color-white);
    overflow-x: hidden;
}

.hidden {
    display: none !important;
}

.active {
    display: flex!important;
}

.no-scroll {
    overflow: hidden;
}

.container {
    margin: 0 auto;
    padding: 0 var(--container-padding);
    max-width: var(--container-width);
}

/* general */

.section-subtitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--color-ebonyClay);
}

.section-title {
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    color: var(--color-ebonyClay);
    margin-top: 8px;
}

.section-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: var(--color-main);
}

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.center {
    text-align: center;
}

.green {
    background-color: #03CEA4;
}

.blue {
    background-color: #5A87FC;
}

.orange {
    background-color: #F89828;
}

.red {
    background-color: #F52F6E;
}

/* Buttons */

.btn {
    position: relative;
    padding: 18px 40px;
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.5px;
    color: var(--color-white);
    transform: perspective(1px) translateZ(0);
    transition: color 0.2s ease-in;
}

.btn:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(55.95deg, #ff5e00 0%, #ef0800 100%);
    border-radius: 4px;
    transform: scaleX(0);
    transform-origin: 50%;
    transition: transform 0.2s ease-in;
}

.btn:hover, 
.btn:focus, 
.btn:active {
    color: white;
}

.btn:hover:before, 
.btn:focus:before, 
.btn:active:before {
    transform: scaleX(1);
}

.btn-transparent {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 40px;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.5px;
    color: var(--color-hover);
    background: transparent;
    border: 1px solid var(--color-hover);
    border-radius: 4px;
    transition: color 0.2s ease-in, background-color 0.2s ease-in;
}

.btn-transparent:hover,
.btn-transparent:focus, 
.btn-transparent:active {
    color: var(--color-white);
    background-color: var(--color-hover);
}

.btn-login {
    position: relative;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: var(--color-main);
    transition: color 0.2s ease-in;
}

.btn-login:hover {
    color: var(--color-hover);
}

.btn-login::before {
    content: url('./../images/Profile_icon.png');
    position: absolute;
    left: -22px;
    top: 55%;
    transform: translateY(-50%);
}

.btn-login::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--color-hover);
    transform-origin: center;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
}

.btn-login:hover::after,
.btn-login:focus::after {
    transform: scaleX(1);
}

.mobile-nav-btn {
    display: none;
    font-size: 30px;
    transition: color 0.2s ease-in, transform 0.2s ease-in;
    z-index: 1000;
}

.mobile-nav-btn:hover,
.mobile-nav-btn:focus,
.mobile-nav-btn:active {
    color: var(--color-hover);
    transform: scale(0.95);
}

/* HEADER */

.header {
    width: 100%;
    padding: 0 15px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 33px 0 10px;
}

.nav {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
    transition: opacity 0.2s ease-in;
}

.nav-list {
    display: flex;
    align-items: center;
    column-gap: 40px;
}

.nav-link {
    position: relative;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: var(--color-main);
    transition: color 0.2s ease-in;
    
}

.nav-link:hover {
    color: var(--color-hover);
}

.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--color-hover);
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
}

.nav-link:hover::after,
.nav-link:focus::after {
    transform: scaleX(1);
}

.nav-btns {
    display: flex;
    column-gap: 35px;
}

/* HERO */

.hero {
    height: auto;
    position: relative;
    background-image: url(./../images/background_hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: var(--big-offset);
}

.hero-desc {
    max-width: 500px;
}

.hero-play {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-ebonyClay);
}

.hero-title {
    font-weight: 900;
    font-size: 64px;
    line-height: 130%;
    letter-spacing: 1px;
    color: var(--color-ebonyClay);
    margin-top: 25px;
}

.hero-btns {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top: 60px;
}

.hero-image img {
    pointer-events: none;
}

.hero-static {
    padding-bottom: 80px;
}

.static-list {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 130px;
    row-gap: 20px;
    margin-top: 100px;
}

.static-item {
    display: flex;
    align-items: center;
    gap: 12px;
    position: relative;
}

.static-item:not(:first-child)::before {
    content: '';
    position: absolute;
    left: -65px;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--color-redOrange);
}

.static-item-num {
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    color: var(--color-ebonyClay);
}

.static-item-text {
    font-size: 16px;
    line-height: 160%;
    color: var(--color-ebonyClay);
}

/* ABOUT */

.about {
    margin-top: var(--big-offset);
}

.about-container {
    display: flex;
    justify-content: space-between;
}

.about-image {
    max-width: 705px;
    margin-right: 20px;
}

.about-image img {
    width: 100%;
}

.about-desc {
    max-width: 390px;
}

.about-list {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    margin: 40px 0 50px;
}

.about-item {
    display: flex;
    align-items: flex-start;
    column-gap: 16px;
}

.about-item img {
    width: 16px;
    height: 16px;
    transform: translateY(5px);
}

/* COURSES */

.courses {
    margin-top: var(--big-offset);
}

.courses-list {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.courses-item {
    max-width: 600px;
    background-color: var(--color-white);
    border: 1px solid #E5E8ED;
    border-radius: 4px;
    box-shadow: 
    0px 80px 80px -20px rgba(154, 156, 165, 0.08), 
    0px 30px 24px -10px rgba(154, 156, 165, 0.05), 
    0px 12px 10px -6px rgba(154, 156, 165, 0.04), 
    0px 4px 4px -4px rgba(30, 33, 44, 0.03);
    transition: transform 0.2s linear, box-shadow 0.2s linear;
}

.courses-item:hover,
.courses-item:focus,
.courses-item:active {
    box-shadow: 
    0px 80px 80px -20px rgba(154, 156, 165, 0.16), 
    0px 30px 24px -10px rgba(154, 156, 165, 0.1), 
    0px 12px 10px -6px rgba(154, 156, 165, 0.08), 
    0px 4px 4px -4px rgba(30, 33, 44, 0.05);
    transform: scale(1.02);
}

.courses-link {
    display: flex;
}

.courses-item-image {
    width: 214px;
    height: 214px;
}

.courses-item-image img {
    object-fit: cover;
    max-width: 214px;
    height: auto;
}

.courses-item-desc {
    padding: 32px;
    max-width: 322px;
}

.courses-heading {
    display: inline-block;
    padding: 1px 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-white);
}

.courses-item-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: var(--color-ebonyClay);
    margin: 20px 0;
}

.courses-item-price {
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: #FF4242;
    margin-right: 10px;
}

.courses-item-author {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--color-gray);
}

/* BENEFITS */

.benefits {
    margin-top: var(--big-offset);
}

.benefits-list {
    margin: 60px 0;
    display: flex;
    justify-content: center;
    row-gap: 15px;
}

.benefits-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 307px;
    height: 46px;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: #9A9CA5;
    cursor: pointer;
    transition: color 0.2s ease-in, border 0.2s ease-in;
}

.benefits-list-item:hover,
.benefits-list-item:focus,
.benefits-list-item:active{
    color: var(--color-redOrange);
    border: 1px solid var(--color-redOrange);
    border-radius: 4px;
}

.benefits-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.benefits-card-desc {
    max-width: 495px;
    margin-right: 130px;
}

.benefits-card-title {
    font-weight: 900;
    font-size: 32px;
    line-height: 130%;
    color: var(--color-ebonyClay);
    margin-bottom: 25px;
}

.benefits-card-image {
    max-width: 600px;
}

.benefits-card-image img {
    width: 100%;
}

/* EVENTS */

.events {
    margin-top: var(--small-offset);
    padding: 80px 0;
    background-color: #fdddcf;
}

.events-list {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.events-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 32px 40px;
    background-color: #fff;
    border-radius: 4px;
    transition: box-shadow 0.2s ease-in;
}

.events-item:hover {
    box-shadow: 
    0px 80px 80px -20px rgba(255, 63, 58, 0.16), 
    0px 30px 24px -10px rgba(255, 63, 58, 0.1), 
    0px 12px 10px -6px rgba(255, 63, 58, 0.08), 
    0px 4px 4px -4px rgba(30, 33, 44, 0.05);
}

.events-item:nth-child(n + 4) {
    display: none;
}

.events-item.is-visible {
    display: flex;
}

.events-date {
    display: flex;
    align-items: center;
}

.events-date-num {
    font-weight: 900;
    font-size: 48px;
    line-height: 130%;
    letter-spacing: 1px;
    color: var(--color-redOrange);
    margin-right: 20px;
}

.events-date-month {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: var(--color-ebonyClay);
}

.events-date-time {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: var(--color-gray);
    margin-top: 4px;
}

.events-desc {
    width: 757px;
    flex-grow: 1;
    padding: 0 40px;
    justify-items: flex-start;
}

.events-desc-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: var(--color-ebonyClay);
}

.events-desc-suptitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: var(--color-gray);
    margin-top: 4px;
}

.btn-events-item {
    width: 135px;
    height: 44px;
    padding: 0 30px;
    font-weight: 700;
    font-size: 14px;
    line-height: 44px;
    letter-spacing: 0.5px;
}

.events-more {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
    margin: 60px auto 0;
}

.events-more-text {
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    color: var(--color-ebonyClay);
}

.btn-events-more {
    background-color: #F75E05;
    color: var(--color-white);
}

.btn-events-more:hover {
    background-color: transparent;
    color: #F75E05;
}

/* CERTIFICATE */

.certificate {
    padding-top: var(--small-offset);
}

.certificate-container {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.certificate-desc {
    max-width: 400px;
    margin-right: 130px;
}

.certificate-text {
    margin: 48px 0 32px;
}

.accredited-list {
    display: flex;
    column-gap: 40px;
}

/* TEAM */

.team {
    padding: var(--small-offset) 0 90px;
    background-color: #F4F5F7;
}

.team-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.team-slider-btns {
    display: flex;
    align-items: center;
}

.slider-btn {
    width: 48px;
    height: 48px;
    fill: var(--color-main);
    border-radius: 50%;
    transition: background-color 0.2s ease-in, fill 0.2s ease-in;
}


.slider-btn:hover {
    fill: var(--color-white);
    background-color: #FF3F3A;
}

.team-slider {
    margin-top: 60px;
    display: flex;
}

.team-slider-item {
    text-align: center;
}

.team-slider-name {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: var(--color-main);
    margin: 16px 0 4px;
}

.team-slider-post {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: var(--color-gray);
}

.team-slider-image {
    position: relative;
    padding: 20px 20px 0;
    background-color: #FFCF2D;
}

.team-slider-image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: 
    linear-gradient(180deg, rgba(30, 33, 44, 0) 43.9%, 
    rgba(30, 33, 44, 0.03) 55.21%, rgba(30, 33, 44, 0.33) 68.73%, 
    rgba(30, 33, 44, 0.56) 76.17%, rgba(30, 33, 44, 0.768225) 83.75%, 
    rgba(30, 33, 44, 0.92) 91.49%, #1E212C 100%);
    opacity: 0;
    transition: opacity 0.2s linear;
}

.team-social-list {
    display: flex;
    align-items: center;
    column-gap: 12px;
    font-size: 20px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    z-index: 2;
    color: var(--color-white);
    opacity: 0;
    transition: opacity 0.2s linear;
}

.team-social-list i {
    opacity: 0.6;
    transition: opacity 0.2s linear;
}

.team-social-list i:hover,
.team-social-list i:focus,
.team-social-list i:active{
    opacity: 1;
}

.team-slider-image:hover::after,
.team-slider-image:focus::after{
    opacity: 1;
}

.team-slider-image:hover .team-social-list,
.team-slider-image:focus .team-social-list {
    opacity: 1;
}

/* TESTIMONIALS */

.testimonials {
    padding: 90px 0 var(--small-offset);
    background-color: #F4F5F7;
}

.testimonials-slider {
    margin-top: 60px;
}

.testimonials-slider-item {
    max-width: 1020px;
    margin: 0 auto;
    padding: 65px 105px 65px 163px;
    background-color: var(--color-white);
}

.testimonials-text {
    position: relative;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: var(--color-main);
}

.testimonials-text::before {
    content: url(./../images/testimonials-braces.png);
    position: absolute;
    top: 0;
    left: -50px;
}

.testimonials-author {
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-top: 25px;
}

.testimonials-author img {
    width: 72px!important;
    height: 72px;
}

.testimonials-author-name {
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: var(--color-ebonyClay);
    margin-bottom: 4px;
}

.testimonials-author-course {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-gray);
}

.testimonials-slider-btns {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

/* .owl-theme .owl-dots .owl-dot span {
    width: 30px!important;
    height: 3px!important;
    margin: 40px 7px!important;
} */

/* BLOG */

.blog {
    margin-top: var(--small-offset);
}

.blog-list {
    margin-top: 60px;
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.blog-item {
    max-width: 390px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blog-item-image {
    position: relative;
}

.blog-item-sticker {
    position: absolute;
    top: 12px;
    left: 12px;
    display: inline-block;
    padding: 1px 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    border-radius: 4px;
    color: var(--color-main);
    background-color: var(--color-white);
}

.blog-desc {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 18px;
    row-gap: 8px;
    margin-top: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-gray);
}

.blog-desc-theme {
    font-weight: 700;
}

.blog-item-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: var(--color-ebonyClay);
    margin: 8px 0;
}

.blog-item-link {
    display: inline-block;
    margin-top: 16px;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: var(--color-ebonyClay);
    transition: color 0.2s ease-in;
}

.blog-item-link i {
    color: #FF3F3A;
}

.blog-item-link:hover,
.blog-item-link:focus,
.blog-item-link:active{
    color: var(--color-hover);
}

/* SUBSCRIBE */

.subscribe {
    position: relative;
    margin-top: var(--big-offset);
    padding: var(--small-offset) 0;
    background-color: #fdddcf;
}

.subscribe::after {
    content: url('./../images/subscribe-image.png');
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 0;
    pointer-events: none;
}

.subscribe::before {
    content: url('./../images/subscribe-image.png');
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
    pointer-events: none;
}


.subscribe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
}

.subscribe-top {
    max-width: 810px;
    z-index: 100;
}

.subscribe-form {
    margin-top: 60px;
    display: flex;
    column-gap: 24px;
    z-index: 100;
}

.subscribe-input {
    width: 420px;
    height: 50px;
    border: 1px solid #D7DADD;
    border-radius: 4px;
    background-color: var(--color-white);
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #9A9CA5;
    padding: 0 16px;
    z-index: 100;
}

/* FOOTER */

.footer {
    background-color: var(--color-ebonyClay);
}

.footer-container {
    display: flex;
    column-gap: 80px;
    row-gap: 30px;
    padding: 80px 0 60px;
    color: var(--color-white);
}

.footer-desc {
    max-width: 280px;
}

.footer-text {
    margin: 24px 0 38px;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    opacity: 0.6;
}

.footer-social {
    display: flex;
    column-gap: 20px;
    opacity: 0.6;
}

.social-item  {
    transition: color 0.2s ease-in;
}

.social-item:hover,
.social-item:focus  {
    color: var(--color-hover);
}

.footer-nav {
    display: flex;
    column-gap: 80px;
}

.footer-nav-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--color-white);
}

.footer-nav-list {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    margin-top: 12px;
}

.footer-nav-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    opacity: 0.6;
    transition: color 0.2s ease-in;
}

.footer-nav-item:hover,
.footer-nav-item:focus  {
    color: var(--color-hover);
}

.footer-address-item {
    display: flex;
    align-items: center;
    column-gap: 8px;
    margin-top: 12px;
    opacity: 0.6;
    transition: color 0.2s ease-in;
}

.footer-address-item:hover,
.footer-address-item:focus {
    color: var(--color-hover);
}

.footer-signup {
    display: flex;
    flex-direction: column;
}

.footer-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 286px;
    height: 36px;
    margin: 24px 0 12px;
    padding: 0 12px;
    background: rgba(255, 255, 255, 0.12);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
}

.footer-signup-text {
    font-weight: 400;
    font-size: 10px;
    line-height: 150%;
    opacity: 0.6;
}

.footer-form-btn {
    transition: color 0.2s ease-in;
}

.footer-form-btn:hover {
    color: var(--color-hover);
}

.footer-copyright {
    background-color: #272a35;
}

.copyright-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.copyright-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: var(--color-white);
}

.copyright-text i {
    color: red;
}

.gototop-link {
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    text-transform: uppercase;
    opacity: 0.6;
    transition: color 0.2s ease-in;
}

.gototop-link:hover,
.gototop-link:focus{
    color: var(--color-hover);
}

.gototop-link i {
    font-size: 18px;
    margin-left: 8px;
    color: var(--color-hover);
}

/* MODAL WINDOW */

.modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    height: 100%;
    background: rgb(30, 33, 44, 0.75);
}

.modal-card {
    max-width: 450px;
    padding: 12px 30px 12px;
    background-color: var(--color-white);
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1000;
    transform: translate(-50%, -50%);
    opacity: 1;
}

.btn-modal-field {
    display: flex;
    justify-content: flex-end;
}

.btn-modal-close {
    font-size: 20px;
    transition: color 0.2s ease-in;
}

.btn-modal-close:hover,
.btn-modal-close:focus,
.btn-modal-close:active {
    color: var(--color-hover);
}

.modal-top {
    text-align: center;
}

.modal-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    color: var(--color-ebonyClay);
}

.modal-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-gray);
    margin: 12px 0;
}

.modal-form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.modal-field-text {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-main);
    margin-bottom: 8px;
}

.modal-field-input {
    width: 100%;
    height: 44px;
    padding: 0 16px;
    border: 1px solid #D7DADD;
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #9A9CA5;
}

.restore-password {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-main);
}

.restore-password-link {
    transition: color 0.2s ease-in;
}

.restore-password-link:hover,
.restore-password-link:focus,
.restore-password-link:active {
    color: var(--color-hover);
}

.btn-modal {
    width: 100%;
    margin: 12px 0;
}

.modal-bottom {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    margin-top: 1px;
    padding-top: 10px;
    border-top: 1px solid #E5E8ED;
}

.modal-bottom-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-gray);
    margin-bottom: 16px;
}

.modal-social-list {
    display: flex;
    justify-content: center;
    column-gap: 12px;
}

.modal-social-link {
    transition: color 0.2s ease-in;
}

.modal-social-link:hover,
.modal-social-link:focus,
.modal-social-link:active {
    color: var(--color-redOrange);
}

.signup-password {
    display: flex;
    align-items: center;
    column-gap: 10px;
}





